.task-container {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Ensure children take full width */
    flex-grow: 1; /* Allow the container to grow */
    overflow-y: auto; /* Allow scrolling if content exceeds container height */
    gap: 1.5rem;
}

.task-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--subtask-chkbox-fc);
}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    /*    & #task-description {
            height: 7rem;
        }*/
}

.task-description {
    max-height: 18.5rem;

    ::placeholder {
        opacity: 25%;
    }
}

.task-subtasks-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}


