.columns-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-top: 1.5rem;
    padding-left: 1rem;
    width: fit-content;
    gap: 1.5rem;
}

.column-card {
    display: flex;
    width: 17.5rem;

    & h3 {
        letter-spacing: 2px;
    }
}
