.top-nav {
    height: 60px;
    padding: 1rem;
    background-color: var(--bg-color);
}


.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: var(--dropdown-fc-idle-active);
    min-height: 2rem;
}

.navgroup-1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navgroup-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
    gap: 1rem;

    & img:hover {
        cursor: pointer;
        scale: 110%;
    }

    & img.disabled-icon:hover {
        cursor: revert;
        scale: none;
    }
}

.add-task-container {
    display: flex;
    flex-direction: row;

}

#add_task {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 0.625rem 1.125rem;

}

.nav-link-header-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    &:hover {
        cursor: pointer;
    }
}

.nav-header {
    color: var(--textfield-fc)
}

.popover-trigger {
    & svg {
        overflow: visible;
    }

    &:hover {
        cursor: pointer;
        scale: 115%;
    }
}

.logo-group {
    /* for mobile, disable */
    display: none;
    border-right: none;
    transition: ease all 250ms;
}

.navgroup-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}


@media screen and (min-width: 768px) {
    .mobile-component {
        display: none;
    }

    .top-nav {
        height: 80px;
        padding: 0;

        .nav-container {
            height: 100%;
        }
    }

    .nav-container {
        gap: 0;
    }

    .nav-header {
        font-size: 1.25rem;
    }

    .logo-group {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        max-width: 260px;
        flex-grow: 1;
        height: 100%;
        align-items: center;
        justify-content: start;
        padding-inline: 1.625rem;


        & svg path {
            fill: var(--subtask-chkbox-fc);
        }
    }

    .logo-group-bottom-border {
        border-bottom: 1px solid hsl(0, 0%, 56%, 25%);
    }

    #add_task {
        width: 164px;
        padding: 1rem 1.5rem;
        max-height: 3rem;
    }

    .navgroup-wrapper {
        height: 100%;
        border-bottom: 1px solid hsl(0, 0%, 56%, 25%);
        border-left: 1px solid hsl(0, 0%, 56%, 25%);
        padding: 1rem 1.5rem;
    }

    .navgroup-1, .navgroup-2 {
        height: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .top-nav {
        height: 96px;
    }

    .logo-group {
        max-width: 300px;
    }
}
