nav {
    height: fit-content;
    padding: 1rem;
    background-color: var(--bg-color);
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: var(--dropdown-fc-idle-active);
    min-height: 2rem;
}

.navgroup-1 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.navgroup-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
    gap: 1rem;
    min-height: 2rem;


    & img:hover {
        cursor: pointer;
        scale: 110%;
    }

    & img.disabled-icon:hover {
        cursor: revert;
        scale: none;
    }
}

.add-task-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 3rem;
    max-height: 2rem;
    width: 100%;

}

#add_task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 100%;
 }

.nav-link-header-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    &:hover {
        cursor: pointer;
    }
}

.nav-header {
    color: var(--textfield-fc)
}
