.popover-ref-container {
    display: flex;
    flex-direction: column;
    min-width: 192px;
    position: absolute;
    background-color: var(--bg-content);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--medium-grey);
    top: 3.75rem;
    right: 1rem;
}

.popover-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.popover-menu-item {
    &.popover-delete {
        color: var(--red);
    }

    &:hover {
        cursor: pointer;
        scale: 105%;

        &.popover-delete {
            color: var(--red-hover);
        }
    }
}

.popover-task {
    right: 0;
}
