.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: start;
    backdrop-filter: blur(1px);
    padding-top: 5rem;
    padding-bottom: 3rem;
    overflow-y: auto;

    &.modal-board-form {
        align-items: center;
    }

}

.modal-content {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    gap: 1.25rem;

}

#board-select-header {
    padding-left: 1.5rem;
}

.board-select {
    max-width: 16.5rem;
}

.board-form {
    display: flex;
    flex-grow: 1;
    padding: 1.5rem;
    margin-inline: 1rem;


}

.modal-header {
    color: var(--dropdown-fc-idle-active);

}

@media screen and (min-width: 481px) {
    .board-form {
        max-width: 30rem;
        padding: clamp(1.5rem, 5%, 2rem);
    }
}



