.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: start;
    backdrop-filter: blur(1px);
    padding-top: 5rem;
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    gap: 1.25rem;
}

.board-select {
    max-width: 16.5rem;
}

.board-edit {
    max-width: 21.375rem;
}

.modal-header {
    color: var(--dropdown-fc-idle-active);

}

