/* customtextfield.css */

.textfield-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textfield-container label {
    color: var(--textfield-label);
}

.textfield-container input,
.textfield-container textarea,
.textfield-container select {
    background-color: var(--textfield-bg);
    color: var(--textfield-fc);
    width: 100%;
    border: 1px solid var(--textfield-stroke-idle-active);
    border-radius: 0.25rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

.textfield-container textarea {
    height: 7rem;
    resize: none;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.input-wrapper .error-message {
    position: absolute;
    right: 1rem;
    color: var(--red);
}

.input-wrapper input.error {
    border-color: var(--red);
}

.shorter-field .error-message {
    right: 3rem;
}

.checkbox-container {
    display: flex;
    align-items: center;
    width: 16px;
}

.checkbox-container input {
    width: 16px;
}

.label.is-checked {
    color: var(--subtask-chkbox-box-stroke);
    text-decoration: line-through;
}

.checkbox-container {
    display: flex;
    position: relative;
    cursor: pointer;
    user-select: none;
    border: 1px solid hsla(216, 15%, 57%, 25%);
    border-radius: 0.063rem;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    height: 1rem;
    width: 1rem;
    background-color: var(--subtask-chkbox-idle-bg);
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--main-purple);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    left: 0.25rem;
    top: 0.125rem;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Custom Select Styling */
.custom-select {
    background-color: var(--textfield-bg);
    border: 1px solid var(--textfield-stroke-idle-active);
    color: var(--dropdown-fc-idle-active);
    border-radius: 0.25rem;
    cursor: pointer;
    width: 100%;
    user-select: none;
    padding: 0.5rem 1rem;
    outline: none;

    &:hover {
        border: 1px solid var(--main-purple);
    }
}

.custom-select-wrapper {
    position: relative;
    width: 100%;

}

.custom-select.error {
    border-color: var(--red);

}

.custom-select-options {
    position: absolute;
    padding: 1rem;
    width: 100%;
    background-color: var(--dropdown-active-bg);
    border-radius: 0.25rem;
    margin-top: 0.25rem;
    z-index: 10;
    color: var(--medium-grey);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.custom-select-option {
    color: var(--dropdown-label-fc);
    cursor: pointer;
}

.custom-select-option:hover {
    color: var(--subtask-chkbox-fc);

}

.hidden-select {
    display: none;
}
