@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("/public/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype"); /*fix url, next already does public?*/
    font-weight: 100 900;
    font-style: normal;
}

:root {
    /* Colors */

    --main-purple: hsl(242, 48%, 58%);
    --main-purple-hover: hsl(243, 100%, 82%);
    --black: hsl(237, 100%, 4%);
    --very-dark-grey: hsl(235, 16%, 15%);
    --dark-grey: hsl(235, 12%, 19%);
    --lines-dark: hsl(236, 11%, 27%);
    --medium-grey: hsl(216, 15%, 57%);
    --lines-light: hsl(221, 69%, 94%);
    --light-grey: hsl(220, 69%, 97%);
    --white: hsl(0, 0%, 100%);
    --red: hsl(0, 78%, 63%);
    --red-hover: hsl(0, 100%, 80%);

    /* Typography */
    --font-heading: "Plus Jakarta Sans", sans-serif;
    --font-body: "Plus Jakarta Sans", sans-serif;

    --font-header-size-xl: 24px;
    --font-header-size-l: 18px;
    --font-header-size-m: 15px;
    --font-header-size-s: 12px;


    --font-body-size-l: 13px;
    --font-body-size-m: 12px;

    --font-header-line-height-xl: 30px;
    --font-header-line-height-l: 23px;
    --font-header-line-height-m: 19px;
    --font-header-line-height-s: 15px;

    --font-body-line-height-l: 23px;
    --font-body-line-height-m: 15px;


    --header-kerning-s: 1px;

    --font-weight-bold: 700;
    --font-weight-medium: 500;

    /* ---Light Theme Colors--- */
    --bg-color: var(--white);
    --bg-content: var(--light-grey);
    --label-fc: var(--medium-grey);
    /* Buttons */
    --btn-primary-l-idle-bacground-color: var(--main-purple);
    --btn-primary-l-idle-text-color: var(--white);
    --btn-primary-l-hover-bacground-color: var(--main-purple-hover);
    --btn-primary-l-hover-text-color: var(--white);

    --btn-primary-s-idle-bacground-color: var(--main-purple);
    --btn-primary-s-idle-text-color: var(--white);
    --btn-primary-s-hover-bacground-color: var(--main-purple-hover);
    --btn-primary-s-hover-text-color: var(--white);

    --btn-secondary-idle-bacground-color: hsla(242, 48%, 58%, 10%);
    --btn-secondary-idle-text-color: var(--main-purple);
    --btn-secondary-hover-bacground-color: hsla(242, 48%, 58%, 25%);
    --btn-secondary-hover-text-color: var(--main-purple);

    --btn-destructive-idle-bacground-color: var(--red);
    --btn-destructive-idle-text-color: var(--white);
    --btn-destructive-hover-bacground-color: var(--red-hover);
    --btn-destructive-hover-text-color: var(--white);

    /* Subtask Checkbox */
    /* background */
    --subtask-chkbox-idle-bg: var(--white);
    --subtask-chkbox-hoverd-bg: hsla(242, 48%, 58%, 25%);
    --subtask-chkbox-completed-bg: var(--light-grey);
    /* font color */
    --subtask-chkbox-fc: var(--black);
    --subtask-chkbox-completed-fc: hsla(237, 100%, 4%, 50%);
    --subtask-chkbox-completed-opacity: 50%;

    /* TextField */
    --textfield-bg: var(--white);
    --textfield-label: var(--medium-grey);
    --textfield-fc: var(--medium-grey);
    --textfield-opactiy-idle-error: 25%;
    --textfield-opactiy-active: 100%;
    --textfield-stroke-idle-active: hsla(216, 15%, 57%, 25%);
    --textfield-stroke-error: var(--red);

    /* Dropdown Idle */
    --dropdown-stroke-idle: hsla(216, 15%, 57%, 25%);
    --dropdown-cheveron-idle: var(--main-purple);
    --dropdown-fc-idle-active: var(--black);
    --dropdown-label-fc: var(--medium-grey);

    /* Dropdown Active */
    --dropdown-active-bg: var(--white);
    --dropdown-border-color: var(--main-purple);
    --dropdown-item-fc: var(--medium-grey);
    --dropdown-item-hover: var(--dark-grey);

    .dark-mode {
        /* ---Light Theme Colors--- */
        --bg-color: var(--dark-grey);
        --bg-content: var(--very-dark-grey);
        --label-fc: var(--white);
        /* Buttons */
        --btn-secondary-idle-bacground-color: var(--white);
        --btn-secondary-hover-bacground-color: var(--white);

        /* Subtask Checkbox */
        /* background */
        --subtask-chkbox-idle-bg: var(--dark-grey);
        --subtask-chkbox-completed-bg: var(--very-dark-grey);
        --subtask-chkbox-box-stroke: hsla(216, 15%, 57%, 25%);
        /* font color */
        --subtask-chkbox-fc: var(--white);
        --subtask-chkbox-completed-fc: hsla(0, 0%, 100%, 50%);

        /* TextField */
        --textfield-bg: var(--dark-grey);
        --textfield-label: var(--white);
        --textfield-fc: var(--white);

        /* Dropdown Idle */
        --dropdown-stroke-idle: hsla(216, 15%, 57%, 25%);
        --dropdown-cheveron-idle: var(--main-purple);
        --dropdown-fc-idle-active: var(--white);
        --dropdown-label-fc: var(--medium-grey);

        /* Dropdown Active */
        --dropdown-active-bg: var(--very-dark-grey);
        --dropdown-item-hover: var(--light-grey)
    }


}

.heading-xl, .heading-l, .heading-m, .heading-s {
    font-family: var(--font-heading), serif;
    font-weight: var(--font-weight-bold);
}

.heading-xl {
    font-size: var(--font-header-size-xl);
    line-height: var(--font-header-line-height-xl);
    color: var(--black);
}

.heading-l {
    font-size: var(--font-header-size-l);
    line-height: var(--font-header-line-height-l);
    color: var(--black);
}

.heading-m {
    font-size: var(--font-header-size-m);
    line-height: var(--font-header-line-height-m);
    color: var(--black);
}

.heading-s {
    font-size: var(--font-header-size-s);
    line-height: var(--font-header-line-height-s);
    letter-spacing: var(--header-kerning-s);
    color: var(--medium-grey);
}

.body-l, .body-m {
    font-family: var(--font-body), serif;
    color: var(--dark-grey);
}

.body-l {
    font-size: var(--font-body-size-l);
    line-height: var(--font-body-line-height-l);
    font-weight: var(--font-weight-medium);
}

.body-m {
    font-size: var(--font-body-size-m);
    line-height: var(--font-body-line-height-m);
    font-weight: var(--font-weight-bold);
}

.btn-bold {
    font-family: var(--font-heading), serif;
    font-size: 13px;
    line-height: var(--font-header-line-height-l);
    font-weight: var(--font-weight-bold);
}

.subtask-heading {
    font-family: var(--font-heading), serif;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: var(--font-weight-bold);
    color: var(--black);
}
