body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    overflow-y: hidden;
    height: 100vh;
    flex-direction: column;

}


/* Main Container */
.main-container {
    flex:1;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-content);
    overflow-x: auto;
    min-height: 90vh;
    overflow-y: auto;

}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    flex-grow: 1;
}

.empty-state-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-inline: 1rem;
    align-items: center;
    margin-block: auto;
}

#new-column-btn {
    max-width: 174px;
}

.dashboard-header {
    color: var(--medium-grey);
}
