body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure body fills the entire viewport height */
}

main {
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    height: 100%; /* Ensure main fills the height of its parent */
}

.main-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-y: hidden;
    height: 100%;
}

/* Content Wrapper */
.content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-content);
    overflow-x: auto;
    overflow-y: auto;
    flex-grow: 1;

    cursor: all-scroll;
}

.empty-state-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-inline: 1rem;
    align-items: center;
    margin-block: auto;
}

#new-column-btn {
    max-width: 174px;
}

.dashboard-header {
    text-align: center;
    color: var(--medium-grey);

}

.show-side-panel {
    display: none;
}

.content-wrapper {
    cursor: all-scroll;
}

.content-wrapper:active {
    cursor: grabbing;
}


@media screen and (min-width: 768px) {
    .show-side-panel {
        display: flex;
        flex-direction: row;
        max-width: 56px;
        max-height: 48px;
        height: 100%;
        width: 56px;
        justify-content: center;
        align-items: center;
        background-color: var(--main-purple);
        border-radius: 0 24rem 24rem 0;
        position: absolute;
        bottom: 2rem;

        &:hover {
            cursor: pointer;
            background-color: var(--main-purple-hover);
        }
    }
    .content-wrapper {
        border-left: 1px solid hsl(0, 0%, 56%, 25%);
    }
}
