.task-container {
    position: relative;
    overflow: visible;

}


.task-description {
    color: var(--dropdown-item-fc);
}

.subtask-header {
    color: var(--subtask-chkbox-fc);


}

.textfield-container {
    display: flex;
    flex-direction: column;
}

.subtask-view {
    display: flex;
    flex-direction: row;
}

.subtask-group {
    display: flex;
    flex-direction: column;

    gap: 0.5rem;
}

.subtask-container {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-content);
    padding: 1rem;
    border-radius: 0.25rem;

    &:hover {
        cursor: pointer;
        background-color: hsla(242, 48%, 58%, 25%);
    }
}

.task-header-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .task-header {
        display: flex;
        flex-grow: 1;
    }

    & svg {
        min-width: fit-content;
    }

    & svg:hover {
        cursor: pointer;
        scale: 115%;
    }
}

.subtask-checkbox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

